@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout-noSlider.cshtml";
}

<section class="about-us">
  <div class="wrapper-about-us">
    <div class="wrapper row">
      <div class="wrapper-col col-lg-6 col-md-6 col-sm-6">
        <div class="h3"><span>Creativity takes courage</span></div>
        <div class="subline">Normcore proident sed selvage. Post-ironic ugh master cleanse etsy you probably haven't heard of them mollit optional clickthroughs.</div>
      </div>
      <div class="wrapper-col col-lg-6 col-md-6 col-sm-6">
        <div class="h3"><span></span></div>
        <div class="subline"></div>
      </div>
    </div>
    <div class="wrapper row">
      <div class="wrapper-col col-lg-4 col-md-4 col-sm-4">
        <div class="group row">
          <div class="group-col col-lg-2">
            <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
          </div>
          <div class="group-col col-lg-10">
            <div class="title"><span>Instructors</span></div>
            <div class="content"><span>There are certain skills that many Fine Arts Instructors have in order to accomplish their responsibilities. By taking a look through resumes, we were able to narrow down the most common skills for a person in this position. We discovered that a lot of resumes listed Critical-thinking skills, Interpersonal skills and Resourcefulness.</span></div>
          </div>
        </div>
      </div>
      <div class="wrapper-col col-lg-4 col-md-4 col-sm-4">
        <div class="group row">
          <div class="group-col col-lg-2">
            <div class="icon"><i class="fas fa-place-of-worship"></i></div>
          </div>
          <div class="group-col col-lg-10">
            <div class="title"><span>Methodology</span></div>
            <div class="content"><span>You will find resources related to research methodologies in Fine Art. These resources discuss both primary and secondary research methodologies and practices in the field of Fine Art. In other words, they give guidance on how to conduct your own research activities (primary research) and discuss and review secondary research strategies.</span></div>
          </div>
        </div>
      </div>
      <div class="wrapper-col col-lg-4 col-md-4 col-sm-4">
        <div class="group row">
          <div class="group-col col-lg-2">
            <div class="icon"><i class="far fa-address-book"></i></div>
          </div>
          <div class="group-col col-lg-10">
            <div class="title"><span>Facility</span></div>
            <div class="content"><span>Fine Art at Newcastle houses excellent specialist workshops for working in wood, metal, digital/film/video, casting, ceramics and printmaking, digital printing, as well as a small black and white photographic darkroom.  These workshops are for the sole use of Fine Art students and staff.</span></div>
          </div>
        </div>
      </div>
      <div class="wrapper-col col-lg-4 col-md-4 col-sm-4">
        <div class="group row">
          <div class="group-col col-lg-2">
            <div class="icon"><i class="fas fa-palette"></i></div>
          </div>
          <div class="group-col col-lg-10">
            <div class="title"><span>Courses</span></div>
            <div class="content"><span>There are various kinds of courses available: from online courses to summer courses and intensive courses. Courses serve a multitude of purposes for different students: they are sometimes used to bridge the gap between different phases of academic study, or to provide additional professional training and qualifications.</span></div>
          </div>
        </div>
      </div>
      <div class="wrapper-col col-lg-4 col-md-4 col-sm-4">
        <div class="group row">
          <div class="group-col col-lg-2">
            <div class="icon"><i class="fas fa-street-view"></i></div>
          </div>
          <div class="group-col col-lg-10">
            <div class="title"><span>Location</span></div>
            <div class="content"><span>Take exit 143, Uintah Street. Go east on Uintah to Cascade Avenue. Turn right onto Cascade Avenue. Go south on Cascade to Dale Street. Turn right onto Dale Street, the Fine Arts Center is on the right (the only building on the block).</span></div>
          </div>
        </div>
      </div>
      <div class="wrapper-col col-lg-4 col-md-4 col-sm-4">
        <div class="group row">
          <div class="group-col col-lg-2">
            <div class="icon"><i class="far fa-eye"></i></div>
          </div>
          <div class="group-col col-lg-10">
            <div class="title"><span>Hours</span></div>
            <div class="content"><span>Fine Arts Center <br/>Daily:	10:00 AM – 5:00 PM <br/>Fridays and theatre nights:	10:00 AM – 07:30 PM</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="teachers row">
  <div class="wrapper-teachers col-lg-6">
    <div class="owl-carousel owl-theme teacher-slider">
      <div class="item">
        <div class="teacher-content">
          <div class="teacher-img"><img src="../images/students/std_01.png" alt=""/></div>
          <div class="teacher-quote">
            <blockquote>
              <q>Don’t let what you cannot do interfere with what you can do.</q>
            </blockquote>
          </div>
          <div class="teacher-name"><span>Beverly Sills</span><span>Student</span></div>
        </div>
      </div>
      <div class="item">
        <div class="teacher-content">
          <div class="teacher-img"><img src="../images/students/std_02.png" alt=""/></div>
          <div class="teacher-quote">
            <blockquote>
              <q>You’ve got to get up every morning with determination if you’re going to go to bed with satisfaction.</q>
            </blockquote>
          </div>
          <div class="teacher-name"><span>George Lorimer</span><span>Student</span></div>
        </div>
      </div>
      <div class="item">
        <div class="teacher-content">
          <div class="teacher-img"><img src="../images/students/std_03.png" alt=""/></div>
          <div class="teacher-quote">
            <blockquote>
              <q>Strive for progress, not perfection.</q>
            </blockquote>
          </div>
          <div class="teacher-name"><span>Vanshika Pandey</span><span>Student</span></div>
        </div>
      </div>
      <div class="item">
        <div class="teacher-content">
          <div class="teacher-img"><img src="../images/students/std_04.png" alt=""/></div>
          <div class="teacher-quote">
            <blockquote>
              <q>Successful and unsuccessful people do not vary greatly in their abilities. They vary in their desires to reach their potential.</q>
            </blockquote>
          </div>
          <div class="teacher-name"><span>Lisa A. Delouise</span><span>Student</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-about-us-bottom col-lg-6"></div>
</section>

