
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout-noSlider.cshtml";
}
@model ProjectSem03.Models.CombineModels

<div class="files-uploaded">
    <div class="files-uploaded-title"><span>Files Uploaded</span></div>
    <div class="files-uploaded-content row">
        @foreach (var item in ViewBag.designList)
        {
            <div class="img-uploaded col-lg-6">
                <div class="img-wrapper row">
                    <div class="img-content col-lg-6"><img src="~/@item.Designs.Painting" alt="" /></div>
                    <div class="img-text col-lg-6">
                        <div class="img-des"><span>@item.Designs.SubmitDate</span><span>@item.Designs.DesignName</span><span>@item.Designs.Description</span>@*<a class="button-hover" href="#"><span>Update</span></a>*@</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

