.error-msg {
    color: #ee5b54;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: .8rem;
    font-weight: 600;
    text-align: left;
    display: block;
    margin-top: .5rem;
}

.field-validation-error {
    color: #ee5b54;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: .8rem;
    font-weight: 600;
    text-align: left;
    display: block;
    margin-top: .5rem;
}
