
<section class="slider">
    <div class="owl-carousel owl-theme banner-inner slider-main">
        <div class="item">
            <div class="owl-lazy" data-src="@Url.Content("~/images/Slider/slider01.jpg")"></div>
        </div>
        <div class="item">
            <div class="owl-lazy" data-src="@Url.Content("~/images/Slider/slider02.jpg")"></div>
        </div>
    </div>
    <div class="slider-content">
        <div class="slider-circle">
            <img src="~/images/Slider/draw_paint.png" alt="" />
            <div class="slider-dot-image"><img src="~/images/Slider/dot_03.png" alt="" /></div>
        </div>
        <div class="slider-text">
            <h1><span>LEARN TO</span><span>Draw & Paint</span><span>If you like to paint, you may encounter the myth that</span><span>it takes talent. Don’t believe it.</span></h1>
        </div>
    </div>
</section>