@model IEnumerable<ProjectSem03.Models.CombineModels>

@{
    ViewData["Title"] = "ExhibitionPage";
}

<h2>Exhibition Page</h2>
<br />
@foreach (var item in Model)
{
    <div style="font-size:medium" class="font-weight-bold border-dark">
        <div class="border">
            <img src="@item.Designs.Painting" width="200" height="200" />
        </div>
        <div class="border">@item.Designs.DesignName</div>
        <div class="border">Exhibition: @item.Exhibitions.ExhibitionName</div>
        <div class="border">Painted by: @item.Students.FirstName&nbsp;@item.Students.LastName</div>
    </div>
    <br />
}
